<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="sqlpracticeEntities" connectionString="metadata=res://*/SqlPracticeDB.csdl|res://*/SqlPracticeDB.ssdl|res://*/SqlPracticeDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-PQ5O1JP;initial catalog=sqlpractice;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>